.movie-cover-photo{style:"background:url('#{@movie.cover}'); background-size:cover; width:100%; height:300px;"}
  %h2= "#{@movie.title} (#{@movie.year})"
.movie-show-info-container
  .movie-profile-pic.col-2
    = image_tag(@movie.d_poster)
  .movie-trailer.col-8
    %iframe{src:"http://www.youtube.com/embed/#{@movie.trailer}?iv_load_policy=3", width:"640", height:"390", frameborder:0}
  .movie-stats-container.col-2
    .movie-stats
      #avg= "#{(@movie.a_score+@movie.c_score)/2}%"
      #audience= "#{@movie.a_score}%"
      #critics= "#{@movie.c_score}%"

      #likes= @movie.likes
      #talking= @movie.talking_about
      #web= @movie.website

- @movie.characters.each do |character|
  %p= "#{character.actor.name} - #{character.name}"


-if @similar.length > 4
  %h3 Similar Movies
  .arrow-holder
    .slide-right
    .slide-left
    .table-holder#opening
      %table
        %tr.movie_list
          - @similar.each do |movie|
            %td.movie_tile
              %div{id:"movie-#{movie.id}", class:"movie-info"}
                = render :partial => "home/movie", :locals => {movie:movie}
-else
  = @similar.length