.arrow-holder
  .slide-right
  .slide-left
  .table-holder#following
    %table
      %tr.movie_list
        - current_user.movies.each do |movie|
          %td.movie_tile
            .img= movie.p_poster.include?("default.gif") ? image_tag("default.png") : image_tag(movie.p_poster)
            .title= movie.title
            .score= "#{(movie.a_score + movie.c_score)/2}%"
            .follow-action
              -if current_user.movies.include?(movie)
                = link_to("Unfollow",following_path(movie.id), :method => :delete, :remote => true)
