-if user_signed_in?
  %h3 Following
  %div{id:"following-movies"}
    = render :partial => "following_movies"

%h3 In Theaters
.arrow-holder
  .slide-right
  .slide-left
  .table-holder#in_theaters
    %table
      %tr.movie_list
        - @in_theaters.each do |movie|
          %td.movie_tile
            %div{id:"movie-#{movie.id}"}
              = render :partial => "movie", :locals => {movie:movie}


%h3 Opening
.arrow-holder
  .slide-right
  .slide-left
  .table-holder#opening
    %table
      %tr.movie_list
        - @opening.each do |movie|
          %td.movie_tile
            %div{id:"movie-#{movie.id}"}
              = render :partial => "movie", :locals => {movie:movie}


%h3 Upcoming
.arrow-holder
  .slide-right
  .slide-left
  .table-holder#upcoming
    %table
      %tr.movie_list
        - @upcoming.each do |movie|
          %td.movie_tile
            %div{id:"movie-#{movie.id}"}
              = render :partial => "movie", :locals => {movie:movie}
